#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk
#--------------------------------------------------------

ifneq ($(CROSS_BUILD_ENVIRON), y)
KVERSION   ?= $(shell uname -r)
endif
KERNEL_SRC :=  /lib/modules/$(KVERSION)
INSTALL_MOD_DIR := kernel/extra/
MOD_SRC_DIR:= $(shell pwd)
MODULE_DIRS:= rd98dx35xx_cn9131 rd98dx35xx rd98dx35xx-x86 db98cx8580-32cd db98cx8514-10cc db98cx8540-16cd db98cx8522-10cc rd98dx45xx_cn9131
UTILS_DIR := utils
SERVICE_DIR := service
MRVL_MODULE_DIR:= mrvl-modules
PRESTERA_MODULE_PREFIX := mrvl-prestera/drivers/generic/
PRESTERA_MODULE_SRC := cpssEnabler/linuxNoKernelModule/drivers/

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	(for mod in $(MODULE_DIRS); do \
		$(MAKE) clean -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules; \
		if [ -f $(MOD_SRC_DIR)/$${mod}/setup.py ]; then \
			PYBUILD_NAME=$${mod} pybuild --clean -d $${mod}; \
		fi; \
		cd $(MOD_SRC_DIR)/$${mod}; \
		rm -rf $(MRVL_MODULE_DIR)/; \
		rm -rf *.egg-info/; \
		rm -f *.whl; \
		cd $(MOD_SRC_DIR)/; \
	done)
	dh_clean

override_dh_auto_configure:
	(for mod in $(MODULE_DIRS); do \
		if [ -f $(MOD_SRC_DIR)/$${mod}/setup.py ]; then \
			PYBUILD_NAME=$${mod} pybuild --configure -d $${mod}; \
		fi; \
	done)

override_dh_auto_build:
	(set -e; for mod in $(MODULE_DIRS); do \
		mkdir -p $(MOD_SRC_DIR)/$${mod}/$(MRVL_MODULE_DIR); \
		cp -r $(MOD_SRC_DIR)/../$(PRESTERA_MODULE_PREFIX)/* $(MOD_SRC_DIR)/$${mod}/$(MRVL_MODULE_DIR)/; \
		cd $(MOD_SRC_DIR)/$${mod}/$(MRVL_MODULE_DIR)/$(PRESTERA_MODULE_SRC); \
		make clean; \
		if [ $$mod = "rd98dx35xx_cn9131" ]; then \
			make modules -C $(KERNEL_SRC)/build M=`pwd` CONFIG_KM_MVPCI=y CONFIG_KM_MVINT=y || exit 1; \
		elif [ $$mod = "rd98dx45xx_cn9131" ]; then \
			make modules -C $(KERNEL_SRC)/build M=`pwd` CONFIG_KM_MVPCI=y CONFIG_KM_MVINT=y || exit 1; \
        elif [ $$mod = "rd98dx35xx-x86" ];then \
			make modules -C $(KERNEL_SRC)/build M=`pwd` CONFIG_KM_MVPCI=y CONFIG_KM_MVINT=y CONFIG_KM_MVDMA2=y|| exit 1; \
		elif [ $$mod = "rd98dx35xx" ]; then \
			make modules -C $(KERNEL_SRC)/build M=`pwd` CONFIG_KM_MVMBUS=y CONFIG_KM_MVINT=y || exit 1; \
		elif [ $$mod = "db98cx8580-32cd" ]; then \
			make modules -C $(KERNEL_SRC)/build M=`pwd` CONFIG_KM_MVPCI=y CONFIG_KM_MVINT=y CONFIG_KM_MVDMA2=y CONFIG_KM_MVETH=y || exit 1; \
		elif [ $$mod = "db98cx8514-10cc" ]; then \
			make modules -C $(KERNEL_SRC)/build M=`pwd` CONFIG_KM_MVPCI=y CONFIG_KM_MVINT=y CONFIG_KM_MVDMA2=y CONFIG_KM_MVETH=y || exit 1; \
		elif [ $$mod = "db98cx8540-16cd" ]; then \
			make modules -C $(KERNEL_SRC)/build M=`pwd` CONFIG_KM_MVPCI=y CONFIG_KM_MVINT=y CONFIG_KM_MVDMA2=y CONFIG_KM_MVETH=y || exit 1; \
		elif [ $$mod = "db98cx8522-10cc" ]; then \
			make modules -C $(KERNEL_SRC)/build M=`pwd` CONFIG_KM_MVPCI=y CONFIG_KM_MVINT=y CONFIG_KM_MVDMA2=y CONFIG_KM_MVETH=y || exit 1; \
		fi; \
		cd $(MOD_SRC_DIR)/$${mod}; \
		python3 setup.py build; \
		python3 setup.py bdist_wheel -d $(MOD_SRC_DIR)/$${mod}; \
		cd $(MOD_SRC_DIR); \
	done)

override_dh_auto_test:
	# No tests to run

override_dh_usrlocal:
	# debian/sonic-platform-<>-<>/usr/local/bin/* are already done

override_dh_auto_install:
	(set -e; for mod in $(MODULE_DIRS); do \
		if [ $$mod = "rd98dx35xx_cn9131" ]; then \
			pkg="rd98dx35xx-cn9131"; \
		elif [ $$mod = "rd98dx45xx_cn9131" ]; then \
			pkg="rd98dx45xx-cn9131"; \
		else \
			pkg=$$mod; \
		fi; \
		dh_installdirs -psonic-platform-$${pkg} /$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
		dh_installdirs -psonic-platform-$${pkg} /usr/local/bin; \
		dh_installdirs -psonic-platform-$${pkg} /lib/systemd/system; \
		cp $(MOD_SRC_DIR)/$${mod}/$(SERVICE_DIR)/*.service debian/sonic-platform-$${pkg}/lib/systemd/system/; \
		cp $(MOD_SRC_DIR)/$${mod}/$(UTILS_DIR)/* debian/sonic-platform-$${pkg}/usr/local/bin/; \
		cp $(MOD_SRC_DIR)/$${mod}/$(MRVL_MODULE_DIR)/$(PRESTERA_MODULE_SRC)/mvcpss.ko debian/sonic-platform-$${pkg}/$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
        if [ $$mod = "db98cx8580-32cd" ] || \
           [ $$mod = "db98cx8514-10cc" ] || \
           [ $$mod = "db98cx8522-10cc" ] || \
           [ $$mod = "db98cx8540-16cd" ]; then \
            cp $(MOD_SRC_DIR)/$${mod}/$(MRVL_MODULE_DIR)/$(PRESTERA_MODULE_SRC)/mvSai.ko debian/sonic-platform-$${pkg}/$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
        fi; \
		cd $(MOD_SRC_DIR)/$${mod}; \
		python3 setup.py install --root=$(MOD_SRC_DIR)/debian/sonic-platform-$${pkg} --install-layout=deb; \
		cd $(MOD_SRC_DIR); \
	done)
